/* CSS DOCUMENT */
@charset "UTF-8";

* {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fdfad4;
}


.flex-container-0 {
    display: flex;
    align-items: center;
    gap: 10px;
   justify-content: center;
}

.flex-container-0 img {
    border-radius: 50%;
    border: 3px solid #e7a6d4;
    margin: 40px 40px;
}

h1 {
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
    background-color: #ecb3db;
    border-radius: 90px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #929fff;
    border: 7px solid #ee8732;
}

#perfil h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #929fff;
    text-align: center;
}

h2 {
    font-family: "Orbitron", sans-serif;
    color: #ee8732;
}

h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.2rem;
    color: #ee8732;
    line-height: 1.5rem;
    text-align: center;
}

#perfil p {
    text-align: center;
    padding: 50px;
    line-height: 1.6rem;
    max-width: 900px;
    margin: auto;
}

#perfil {
    background-image: url(../img/img-fondo-1.png);
    background-position: center;
    min-height: 40vh;
    padding: 10px;
    margin: 45px 0;
    border-top-width: 11px;
    border-bottom-width: 11px;
    border-color: #e7a6d4;
    border-style: double;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    padding: 10px 20px
}
.flex-item-1 {
    flex: 0 0 100%;
    padding-bottom: 50px;
    border: 3px solid #e7a6d4;
}


.flex-item-x{
    flex: 1;
    line-height: 25px;
    border: 3px solid #e7a6d4;
    margin-bottom: 50px;
}

.flex-item-x ul{
    list-style-position: inside;
}

.flex-item-1 ul {
    list-style: none;
    padding-left: 0;
}


.flex-item-1 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 15px;
}

.flex-item-2 {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 70px;
}

.flex-item-2 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 40px;
    margin-top: 20px;
}

.flex-item-2 img {
    margin: 40px;

}

.flex-item-2 a {
    display: block;
    font-size: 1.4rem;
    color: #ee8732;
    margin-bottom: 5px;
}

.flex-item-2 p {
    margin-top: 20px;
    color: #000000;
}

.flex-container-3 {
    text-align: center;
    padding-bottom: 40px;
    border-color: #e7a6d4;
    border-style: solid;
    border-width: 3px;
    border-radius: 90px;
    background-image: url(../img/img-fondo-2.jpg);
}

.flex-container-3 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

.flex-container-3 p {
    margin-bottom: 10px;
}

footer {
    background-color: #e7a6d4;
    padding: 30px;
    margin-top: 20px;
}

footer p {
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    padding-inline: 10px;
}