/* CSS DOCUMENT */
@charset "UTF-8";

* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fdfad4;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #929fff;
    text-align: center;
}

h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    color: #ee8732;
    line-height: 2rem;
}

h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.2rem;
    color: #ee8732;
    line-height: 1.5rem;
    text-align: center;
}

p {
    text-wrap-style: balance;
    text-align: center;
}


#inicio {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio h1 {

    padding: 45px;
    margin-top: 10px;
    background-color: #ecb3db;
    border-radius: 90px;


    color: #ee8732;
}

#inicio img {
    border-radius: 50%;
    border: 3px solid #e7a6d4;
    margin: 40px 40px;
}

#perfil {
    background-image: url(img/img-fondo-pagina.jpg);
    background-position: center;
    min-height: 40vh;
    padding: 10px;
    margin: 45px 0;
    border-top-width: 11px;
    border-bottom-width: 11px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #e7a6d4;
    border-style: double;
}

#perfil p {
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5rem;
}


nav {
    font-family: "Orbitron", sans-serif;
    display: flex;
    justify-content: space-evenly;
}


footer {
    background-color: #e7a6d4;
    padding: 30px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}



.flex-item-1 {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 50px;

    border: 3px solid #e7a6d4;
}

.flex-item-2,
.flex-item-3,
.flex-item-4 {
    flex: 1;
    min-width: 20px;
    line-height: 25px;
    border: 3px solid #e7a6d4;
    list-style: inside;
    padding: 10px;
    margin-bottom: 50px;
}


.flex-item-2 {
    margin-left: 20px;
}

.flex-item-4 {
    margin-right: 20px;
}

.flex-item-1 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 15px;
}

.flex-item-5 {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 70px;
}
.flex-item-5 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 40px;
    margin-top: 20px;
}
.flex-item-5 img {
    margin: 20px;

}
.flex-item-5 a {
    display: block;
    font-size: 1.4rem;
    color: #ee8732;
    margin-bottom: 5px;
}

.flex-item-5 p {
    margin-top: 20px;
    color: #000000;
}
.flex-item-6 {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 40px;
    border-color: #e7a6d4;
    border-style: solid;
    border-width: 3px;
    border-radius: 90px;
    background-image: url(img/img-fondo-2.jpg);
}
.flex-item-6 h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10px;
}
.flex-item-6 p {

    margin-bottom: 10px;
}